<script type="text/javascript">

  var json_to_pizza = JSON.parse($('#json_to_pizza').val());
  var serie_pizza = []
  var dict_consultor = {}

  $.each(json_to_pizza, function(i, item) {
    dict_consultor = {}
    dict_consultor['name'] = item[0]
    dict_consultor['y'] = item[1]
    serie_pizza.push(dict_consultor)
  });
  console.log(serie_pizza)

  options = {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Porcentaje de ganancias netas de cada consultor.'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    series: [{
        name: 'Porcentaje de Ganancia',
        colorByPoint: true,
        data: [{
            name: 'IE',
            y: 56.33
        }, {
            name: 'Chrome',
            y: 24.03,
            sliced: true,
            selected: true
        }, {
            name: 'Firefox',
            y: 10.38
        }, {
            name: 'Safari',
            y: 4.77
        }, {
            name: 'Opera',
            y: 0.91
        }, {
            name: 'Other',
            y: 0.2
        }]
    }]
  }
  options.series[0].data = serie_pizza;
  Highcharts.chart('bloque2', options);
</script>

<div id="bloque1">
  <input type="hidden" id="json_to_pizza" value="{{ json_to_pizza }}">
  <!-- Se pueden hacer todas las modificaciones que se deseen e incrustar el
  grafico donde se desee -->
  <div id="bloque2"></div>
</div>
